@model DataAccessLayer.Models.Order

@{
    ViewData["Title"] = "Create";
}

<div class="crud-container">

    <h1 class="crud-title">Nieuwe Bestelling</h1>

    <form asp-action="Create">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Klant.Naam" class="control-label">Klant naam</label>
            <input asp-for="Klant.Naam" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Klant.Email" class="control-label">Email</label>
            <input asp-for="Klant.Email" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Klant.Telefoonnr" class="control-label">Telefoon</label>
            <input asp-for="Klant.Telefoonnr" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="BestelDatum" class="control-label">Besteldatum</label>
            <input asp-for="BestelDatum" class="form-control" type="date" />
        </div>

        <div class="form-group">
            <label asp-for="BestelStatus" class="control-label">Bestelstatus</label>
            <input asp-for="BestelStatus" class="form-control" />
        </div>

        <input type="submit" value="Opslaan" class="btn btn-success" />

        <a asp-action="Index" class="details-link">
            Terug
        </a>

    </form>

</div>

@section Scripts {
    <!-- Add any required JavaScript files or scripts here -->
}