@model DataAccessLayer.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<div class="crud-container">

    <div class="crud-header">
        <h1>Bestelling Bewerken</h1>
    </div>

    <hr />

    <div class="form-wrapper">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Klant.Naam" class="control-label">Klant naam</label>
                <input asp-for="Klant.Naam" class="form-control" />
                <span asp-validation-for="Klant.Naam" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Klant.Email" class="control-label">Email</label>
                <input asp-for="Klant.Email" class="form-control" />
                <span asp-validation-for="Klant.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Klant.Telefoonnr" class="control-label">Telefoon</label>
                <input asp-for="Klant.Telefoonnr" class="form-control" />
                <span asp-validation-for="Klant.Telefoonnr" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BestelDatum" class="control-label">Besteldatum</label>
                <input asp-for="BestelDatum" class="form-control" type="date" />
                <span asp-validation-for="BestelDatum" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BestelStatus" class="control-label">Bestelstatus</label>
                <input asp-for="BestelStatus" class="form-control" />
                <span asp-validation-for="BestelStatus" class="text-danger"></span>
            </div>

            <!-- BUTTONS -->
            <div class="form-actions">

                <input type="submit" value="Opslaan" class="btn btn-primary" />

                <a asp-action="Index" class="details-link">
                    Terug
                </a>

            </div>

        </form>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
