@model KE03_INTDEV_SE_2_Base.Models.LeverancierModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LeverancierModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Leverancier_naam" class="control-label"></label>
                <input asp-for="Leverancier_naam" class="form-control" />
                <span asp-validation-for="Leverancier_naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
