@model DataAccessLayer.Models.Customer

@{
    ViewData["Title"] = "Aanmaken";
}

<div class="crud-container">

    <h1 class="crud-title">Nieuwe Klant</h1>

    <form asp-action="Create">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Naam" class="control-label"></label>
            <input asp-for="Naam" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Telefoonnr" class="control-label"></label>
            <input asp-for="Telefoonnr" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Adres" class="control-label"></label>
            <input asp-for="Adres" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Postcode" class="control-label"></label>
            <input asp-for="Postcode" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Woonplaats" class="control-label"></label>
            <input asp-for="Woonplaats" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Land" class="control-label"></label>
            <input asp-for="Land" class="form-control" />
        </div>


        <input type="submit" value="Opslaan" class="btn btn-success" />

        <a asp-action="Index" class="details-link">
            Terug
        </a>

    </form>

</div>